<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Splash</title>
</head>
<body>
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" style="color:white;" href="/login">W 🍣 L C 🍥 M E </a>
    </div>
      </nav>

      <div class="container">
          <div class="row">
          <div class="card1 col-md-6" style="margin-top: 100px; background-color: #6a5862;">
            <h1 style="text-align:center; margin-bottom: 25px;margin-top: 5px">HI! 👋🏼</h1>
              <h5 style="text-align:center; margin-bottom: 75px; margin-top: 10px;">Please <a href='/login'>login </a> to see the menu</h5>
          </div>
        </div>
      </div>
</body>
</html>